[submodule "MCTS/MCTSminisat"]
	path = MCTS/MCTSminisat
	url = https://github.com/dmeoli/MCTSminisat
[submodule "deepq/minisat"]
	path = baselines/deepq/minisat
	url = https://github.com/dmeoli/minisat
